name: 'Android CI'

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Checkout
      run: |
        git submodule update --init --recursive --remote
        git submodule update --init --recursive --remote

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'oracle'
        cache: gradle
        
    - name: Build with Gradle
      run: |
        chmod +x gradlew
        ./gradlew assembleRelease
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: "app-release.apk"
        path: "app/build/outputs/apk/release/app-release.apk"
        compression-level: 0
